body {
    color: #0a0909;
    background-color: #c6c6c6;
}
a {
    color: #ffffff;
}
nav {
    background-color: #000000;
  padding: 10px;
  margin-bottom: 30px;
}
nav a {
    color: #c1c1c1;
}
nav a:hover {background-color:#f8f7f7;}